html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 7rem 0 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 7rem 0 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
}


header {
    background-image: url('/img/first-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height:45.938rem;
}

header > section {
    padding-top: 6em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.02em;
}

header > section > button {
    color: #fff;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #f15a29;
}

header > section > button:hover {
    cursor: pointer;
    background-color: #d9400e;
}

.content {
    width: 970px;
    margin: 0px auto;
}

.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    height: 70px;
    padding: 15px 25px;
}

.top-navigation .logo {
    width: 26px;
}

.top-navigation .links  {
    margin: 0px;
    padding: 10px 0px;
    float:right;
}

.top-navigation .links >li {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
    margin-left: 30px;
}

.top-navigation .links >li.active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links > li > a {
    transition: color 0.5s ease;
    text-decoration: none;
    color: #838994;
}

.top-navigation .links >li >a:hover {
    color: #4c5058;
}

.cases {
    text-align: center;
}

.icon-list {
    margin-top: 3rem;
    padding: 0px;
}

.icon-list > li {
    display: inline-block;
    width: 33.33333%;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: -4px;
}

.icon-list > li > icon {
    width: 125px;
    height: 125px;
    display: inline-block;
}

.icon-devices {
    background-image: url('/img/icon-devices.svg');
}

.icon-coffee {
    background-image: url('/img/icon-coffee.svg');
}

.icon-refill {
    background-image: url('/img/icon-refill.svg');
}
